* {
  scroll-behavior: smooth;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

$font-family1: 'Georgia', 'Arial', sans-serif;
$font-family2: 'Arial', 'Georgia', sans-serif;

$color1: rgba(250, 250, 250, 1);
$color2: #F1CDB3;
$color3: rgba(255, 255, 255, 1);
$color4: rgba(205, 205, 205, 1);
$color5: rgba(241, 205, 179, 1);
$color6: rgba(253, 220, 196, 1);
$color7: rgba(41, 41, 41, 1);
$color8: rgba(84, 84, 84, 1);
$color9: rgba(76, 76, 76, 1);
$color10: rgba(246, 246, 246, 1);

@mixin background($url, $position) {
  background: url($url);
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin font($font-family, $font-style, $font-weight, $font-size, $line-height, $color) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin btn($border-radius, $outline, $box-shadow, $border, $background-color, $width, $height ) {
  border-radius: $border-radius;
  outline: $outline;
  box-shadow: $box-shadow;
  border: $border;
  background-color: $background-color;
  box-sizing: border-box;
  cursor: pointer;
  width: $width;
  height: $height;
  letter-spacing: 1px;
    &:hover {
      background-color: $color6;
    }
}

@mixin flex1($max-width, $justify-content: normal) {
  display: flex;
  max-width: $max-width;
  justify-content: $justify-content;
  margin: auto;
}
@mixin flex2($justify-content: normal) {
  display: flex;
  justify-content: $justify-content;
}

.btn_1 {
  @include btn(100px, none,none, none, $color5, 207px, 52px);
  @include font($font-family1, normal, 400, 17px, 22.1px, $color7);
}

.btn_2 {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  @include btn(100px, none, none, 2px solid $color5, $color1, 187px, 52px);
  @include font($font-family1, normal, 400, 17px, 22.1px, $color7);
}
.btn_3 {
  @include btn(100px, none, none, none, $color5, 261px, 52px);
  @include font($font-family1, normal, 400, 17px, 22.1px, $color7);
  margin: auto;
  display: block;
}

.btn_4 {
  @include btn(9px, none, none, none, $color5, 349px, 43px);
  @include font($font-family1, normal, 400, 20px, 20px, $color8);
  @include flex2(center);
  align-items: center;
  gap: 0px 15px;
  @media screen and (max-width: 767px) {
    font-size: 15px;
    line-height: 16.5px;
    width: 281px;
  }
}